/*------UNIVERSALS------*/
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

/*--------HEADER--------*/
.logo {
  width: 120px;
}

.satisfy-text {
  font-family: 'Kaushan Script', cursive;
  color: #f47f5f;
}

/*---JUMBOTRON SECTION---*/
#jumbotron-background {
  background-image: url('../img/hero.jpg');
  height: 400px;
  background-size: cover;
  background-position: center;
}

#jumbotron-background p {
  color: #FFFFFF;
  font-size: 2em;
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*-- PRODUCTS AND SERVICES SECTION --*/
.featured {
  margin-left: 10px;
}


.btn-primary {
  height: ;
}

.thumbnail {
  background-color: #EDF1F4;
}

.thumbnail img {
  padding: 9px;
}

.services {
  margin-left: 90px;
}

/* FOOTER SECTION */
footer {
  height: 150px;
  background-color: #231F20;
  margin-top: 50px;
}

footer img {
  width: 120px;
}

.section-border {
  border-right: 1px solid #323232;
}

.medium-grey {
  color: #aaaaab;
}

address {
  margin-top: 20px;
}

i {
  color: white;
  height: 20px;
}

.footerIcons {
  margin-top: 28px;
}

footer p {
  margin-top: -8px;
  color: #aaaaab;
}

.copyright {
  margin-top: 10px;
  text-align: center;
  color: #aaaaab;
}

a.social {
  text-decoration:none;
  color: #aaaaab;
}

a:hover {
  text-decoration: none;
}
